body {
	margin: 20px;
}

.bigButtonStyle {
	padding: 5px;
	background-color: blue;
	color: white;
	margin: 10px;
}

.bigButtonStyle:hover {
	cursor: pointer;
}
.bigButtonStyle:active {
	background-color: lightblue !important;
}

table {
	border-spacing: 0 15px;
}

h1 {
	text-align: center;
}
