body {
	margin: 0;
}
.flex {
	display: flex;
}
.tracker {
	display: flex;
	justify-content: center;
}

.creature img {
	display: block;
	object-fit: cover;
	max-width: 50px;
	max-height: 50px;
	margin: auto;
}
th {
	width: 150px;
	max-width: 150px !important;
	font-size: 20px;
}
td {
	width: 150px;
	text-align: center;
	font-size: 20px;
	height: 4vh;
}
td p {
	margin-top: 5px;
	margin-bottom: 5px;
}
table,
th,
td {
	border: 1px solid;
}
.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.dropdown {
	border: solid 1px;
	display: flex;
	padding: 0px 10px;
	margin-top: 10px;
}
.dropdown:hover {
	cursor: pointer;
}
.dropdown-monster img {
	display: block;
	max-width: 50px;
	max-height: 50px;
}
.dropdown-monster {
	display: flex;
	background-color: lightgrey;
	border: solid 1px;

	height: 5 vh;
}
.dropdown-monster:hover {
	background-color: white;
	cursor: pointer;
}
.dropdown-content {
	position: absolute;
	overflow-y: auto;
	height: 50vh;
	z-index: 10;
}
.add-creature {
	display: flex;
	align-items: center;
}
.add-creature button {
	height: 52px;
	margin-top: 10px;
}
.add-modal {
	position: absolute;
	left: 0;
	top: 0;
	height: 100vh;
	width: 30%;
	background-color: white;
	border: 1px solid black;
	padding: 25px;
	z-index: 10;
}
.dark-bg-overlay {
	z-index: 9;
	background-color: rgb(0, 0, 0, 0.75);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100vh;
}
.add-custom-creature img {
	display: block;
	max-width: 50px;
	max-height: 50px;
}
.picture-input {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.button {
	margin: 10px;
	padding: 10px;
	border: black groove 2px;
	width: 100px;
}
.button:hover {
	background-color: lightgray;
	cursor: pointer;
}
.control {
	margin-left: 20px;
}
.heal {
	border-radius: 10px 10px 0 0;
}
.damage {
	border-radius: 0 0 10px 10px;
}
