body {
	background-color: lightgray;
}
.app {
	margin: 10px;
}
.header p {
	font-size: 24px;
}
.image {
	width: 700px;
	height: 450px;
}
.albums-title {
	margin: 35px;
}
.songlist {
	list-style-type: none;
	font-weight: bold;
	padding-left: 0;
}
.album-image img {
	width: 200px;
	height: 200px;
	border: 2px solid darkred;
	border-radius: 10px;
	margin: 0 20px;
}
